.container {
	font-family: "Abril Fatface", serif;
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	touch-action: manipulation;
}
.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	background: repeating-linear-gradient( 90deg,red,red 20px, #000 20px, #000 40px); 

}
.home {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	div {
		margin: $padding;
		@media screen and (min-width: 768px) {
			margin: $padding-big;
		}
	}
}