.pager {
	position: fixed;
	display: inline-block;
	top: 0px;
	right: 0px;
	margin: $padding;
	color: #000;
	z-index: 100;
	@include mq($from: desktop) {
		margin: $padding-big;
	}
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(255, 0, 0);
		touch-action: manipulation;
		width: 52px;
		height: 52px;
		border-radius: 25px;
		transition: 0.5s;
		text-transform: uppercase;
		cursor: pointer;
		font-weight: 700;
		font-size: $subheader-size;
		font-family: "Noto Serif KR", serif;
		color: #000;
		@include mq($from: desktop) {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			font-size: $subheader-size-big;
			span {
				margin-bottom: 0.2em;
			}
		}
		span {
			margin-bottom: 0.2em;
		}
		&:hover {
			background-color: rgb(246, 0, 0);
		}
		&.clicked {
			transform: scale(0);	
		}
	}
}
.heartbeat {
	animation: heartbeat 1.2s infinite;
	animation-delay: 0.5s;
}


@keyframes heartbeat {
	0% {
		transform: scale(1.1);
	}
	25% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1.06);
	}
	68% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.95);
	}
}
.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 52px;
	height: 52px;
	background-color: red;
	border-radius: 26px;
	transition: 0.1s;
	@include mq($from: desktop) {
		width: 80px;
		height: 80px;
		border-radius: 40px;
	}
	&:active {
		transform: scale(0.8);
	}
}
.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;

	box-sizing: border-box;
	margin: 4px;
	border: 22px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: ldshourglass 2.5s infinite;

	@include mq($from: desktop) {
		margin: 8px;
		border: 32px solid #000;
		border-color: #000 transparent #000 transparent;
	}
}

@keyframes ldshourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}
