@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.container {
	font-family: "Abril Fatface", serif;
	background-color: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.3em;
	cursor: pointer;
	overflow: hidden;
}
.home {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	overflow: hidden;
	//background: repeating-linear-gradient(90deg, red, red 30px, #000 30px, #000 60px);
<<<<<<< HEAD
	background: repeating-linear-gradient(90deg, rgb(68, 0, 255), rgb(0, 195, 255) 30px, #000 30px, #000 60px);
=======
	background: repeating-linear-gradient(90deg, yellow, green 30px, #000 30px, #000 60px);
>>>>>>> fb27acd9e2713bb794f2a5dc0a036e59b5fa6115
	padding-right: 10vw;
	transition: 2s;
	z-index: 2;
	opacity: 0.3;
	a {
		position: absolute;
		z-index: 3;
		transition: 1.2s;
		font-size: $header-size;
		line-height: 20;
		@include mq($from: desktop) {
			font-size: $header-size-big;
		}
		color: #fff;
		user-select: none;
	}
}
.animate {
	font-size: 15vw !important;
	color: red !important;
	&:active {
		color: #000 !important;
	}
}
.disapear {
	padding-right: 5vw;
	transition: 3s !important;
	color: #000 !important;
	padding-right: 100vw;
	transform: scale(0) rotate(-90deg);
}

.ca {
	transition: 2s !important;
	color: #000;
}
.ca0 {
	transition: 1s !important;
	font-size: 10vw !important;
}
.ca1 {
	transition: 2s !important;
	font-size: 20vw !important;
}
.ca2 {
	transition: 2s !important;
	font-size: 13vw !important;
}
.ca3 {
	transition: 2s !important;
	font-size: 23vw !important;
}
.ca4 {
	transition: 2s !important;
	font-size: 14vw !important;
}
.ca5 {
	transition: 2s !important;
	font-size: 19vw !important;
}
.ca6 {
	transition: 2s !important;
	font-size: 12vw !important;
}
.ca7 {
	transition: 2s !important;
	font-size: 10vw !important;
}
.end {
	//transform:scale(1.5);
	padding-right: 0px !important;
}

.homebg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(90deg, red, red 20px, #000 20px, #000 40px);
	opacity: 0;
	transition: 2s;
	z-index: 1;
}

.homebgfade {
	opacity: 1;
}
