.loader {
	position: fixed;
	display: flex;
	flex-direction: row;
	z-index: 200;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.stripe{
	height: 100%;
	flex: 0 1 100%;
	
	&.green{
		background-color: green;
	}
	&.red{
		background-color: red;
	}
	&.black{
		background-color: black;
	}
	overflow-y: hidden;
}

.slidein{
	height:0%;
	animation: slidein 1s cubic-bezier( 0, 0, 0.14, 0.96 ) forwards;
	animation-delay: 0.2s;
}
.slideout{
	height:100%;
	animation: slideout 1s cubic-bezier( 0, 0, 0.14, 0.96 )   forwards;
	animation-delay: 0.2s;
}
.slideinup{
	@extend .slidein;
	align-self: flex-start;
}
.slideindown{
	@extend .slidein;
	align-self: flex-end;
}
.slideoutdown{
	@extend .slideout;
	align-self: flex-end;
}
.slideoutup{
	@extend .slideout;
	align-self: flex-start;
}

@keyframes slideout {
	from{
		height: 100%;	
	}
	to{
		height: 0%;
	}
}
@keyframes slidein {
	from{
		height: 0%;
	}
	to{
		height: 100%;
	}
}